<footer>
    <div class="footer">
    <div class="footerSocial">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <br>
    <div class="footerText">
<p><b>&copy; 2025 Hotai Private Limited </b></p>
    </div>
    <br>  
    <div class="footerLinks">
    <a href="/listing/f/privecy">Privecy</a>
    <a href="/listing/f/terms">Terms</a>
    </div>
</div>
</footer>