<%layout('/layouts/boilerplate.ejs')%>

    <body>
        <div class="row errormessage">
            <div class="col-6 offset-lg-5 offset-md-5 offset-sm-4">
                <H1 class="hotaihome"><i class="fa-solid fa-key"></i>HOTA!</H1>
                <a href="/listing">Go Hotai.com</a>
            </div>
        </div>
        <div class="row ">
            <div class="col-6 offset-3 erroralert ">
                <div class="alert alert-danger" role="alert">
                    <p>
                        <%=message%>
                    </p>
                </div>
            </div>
        </div>

    </body>